.avatar-show-img {
    width: 250px;
    height: 200px;
}

.well.profile-block {
    color: white;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #606a7a;
    border-color: #191a1c;
}

.well.profile-contact {
    background-color: #4e77b7;
    border-color: #191a1c;
}

.job_title {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-align: center;
}